.h-150px {
    height: 150px;
}

.h-1000px {
    height: 1000px;
}

.fs-10px {
    font-size: 10px;
}

.cs-hero-bg {
    width: 150%;
    margin-left: -500px;
    margin-top: -200px;
    transform: rotate(200deg);
    z-index: 2;
}

.w-150 {
    width: 150%;
}

.cs-hero-card {
    position: absolute;
    top: 300px;
    left: 100px;
    z-index: 3;
}

.fs-60px {
    font-size: 60px;
}

.cs-lm-btn {
    position: absolute;
    top: 500px;
    left: 100px;
    z-index: 3;
}

.body-container {
    top: 0px;
    height: 3000px;
    background-color:lightgray;
}


.projects-container {
    position: absolute;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    height: 750px;
    background-color:darkgray;
    width: calc(100% - 100px);
    
}

.projects-header {
    position: absolute;
    top: 30px;
    left: 50px;
}

.proj-card-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-card {
    margin-top: 0px;
    height: 600px;
    width: 450px;
    background-color:cadetblue;
}

.project-name {
    margin: 15px;
}

.project-img {
    margin: 15px;
    width: 420px;
    height: 250px;
}

.project-desc {
    margin: 15px;
}

.eb-container {
    position: absolute;
    margin-top: 850px;
    margin-left: 50px;
    margin-right: 50px;
    height: 750px;
    background-color: darkgray;
    width: calc(100% - 100px);
}

.eb-header {
    position: absolute;
    top: 30px;
    left: 50px;
}

.eb-card-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.eb-card {
    margin-top: 0px;
    height: 600px;
    width: 450px;
    background-color: cadetblue;
}

.eb-position {
    margin: 15px;
}

.eb-img {
    margin: 15px;
    width: 420px;
    height: 250px;
}

.eb-desc {
    margin: 15px;
}